version: 2.1
jobs:
  build:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install pytest
      - run:
          name: Run tests
          command: |
            pytest test_script.py

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
