@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add your custom global styles below this line */

body {
  @apply bg-white text-gray-900;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  @apply text-blue-500 no-underline;
}

a:hover {
  @apply underline;
}


/* Custom background styles for different pages */
.homepage-background {
  @apply bg-cover bg-center bg-no-repeat;
  background-image: url('/assets/HomePageL.jpg');
  background-opacity: 0.9; /* Adjust the transparency */
  
}

.custom-background {
  background-image: url('/assets/HomePage.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
}

.bg-opacity-100 {
  opacity: 0.1;
}

.customer-background-profile {
  background-image: url('/assets/puzzlepiecesL.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.customer-background-login{
  background-image: url('/assets/turqoXL.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.customer-background-register{
  background-image: url('/assets/turqoXL.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.provider-background-profile {
  background-image: url('/assets/ProviderBackground.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.provider-background-login{
  background-image: url('/assets/turqoXL.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.provider-background-login{
  background-image: url('/assets/turqoXL.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

/* Main content background */
.content-background {
  position: relative;
  z-index: 10;
}

.content-background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8); /* Adjust opacity as needed */
  z-index: -1;
}
.line-clamp-1 {
  display: -webkit-box;
  /* -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;   */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-clamp: 1;
  box-orient: vertical;
}

.line-clamp-2 {
  line-height: 1.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-clamp: 2;
  box-orient: vertical;
  min-height: 3.2rem;
}
.label {
  display: inline-block;
  width: 85px;
}
.h-84{
  height: 21rem;
}
/*
.content-background {
  @apply bg-white bg-opacity-10;
}
  */